*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height:100%;
    width:100%;
}
.container{
    height:100vh;
    width:100%;
    background:rgba(103, 119, 147, 0.831);
    padding:5px;
    
    
}


.calculator{
    max-width: 350px;
    background-color: rgb(14, 14, 40);
    padding:10px 10px;
    border-radius: 10px;
    color:beige;
    text-align: center;
    margin: auto;
    
}


.calculator form input{
    border: 0;
    background: none;
    outline: 0;
    width:60px;
    height:60px;
    border-radius: 15px;
    color: white;
    font-family: 'Segoe UI', Tahoma sans-serif;
    box-shadow: 1px 2px 2px 2px rgba(59, 59, 72, 0.543);
    font-size: 18px;
    cursor: pointer;
    margin:9px;
    transition: all 0.5s;
}

form .calc-display{
    display: flex;
    justify-content: flex-end;
    margin:18px 0;
    border: 1px solid rgb(77, 74, 74);
    border-radius: 10px;
    background: rgba(38, 38, 58, 0.785);
}
form .calc-display input{
    flex:1;
    text-align: right;
    font-size: 30px;
    box-shadow: none;
}
/* .calc-buttons button{
    height:60px;
    width:80px;
    border: none;
    border-radius: 5px;
    color: beige;
    background-color: rgb(53, 53, 90);
    margin:5px;
    transition: all 0.5s;
    box-shadow: 0px 1px 2px 2px rgb(79, 80, 104);
    font-size: 16px;
    
   
} */

.calc-buttons :hover{
    background-color: rgb(36, 36, 56);
}

form input.equal{
    width:145px;
}